.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  width: 224px;
  height: 180px;
  align-self: center;
  object-fit: cover;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-text {
  font-size: 3rem;
  align-self: center;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image01 {
  width: 675px;
  height: 510px;
  object-fit: cover;
  margin-right: 2px;
}
.home-container01 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  font-style: normal;
  font-weight: 700;
}
.home-text06 {
  font-style: normal;
  font-weight: 700;
}
.home-text09 {
  font-style: normal;
  font-weight: 700;
}
.home-text12 {
  font-style: normal;
  font-weight: 700;
}
.home-text15 {
  font-style: normal;
  font-weight: 700;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-link {
  width: 284px;
  height: 39px;
  align-self: center;
  text-decoration: none;
  background-color: rgb(255, 208, 0);
}
.home-header1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-separator1 {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.home-text19 {
  color: rgba(0, 0, 0, 0.57);
  align-self: center;
}
.home-text20 {
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-step01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image02 {
  width: 200px;
  object-fit: cover;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text21 {
  align-self: center;
}
.home-text22 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step02 {
  width: 207px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image03 {
  width: 200px;
  object-fit: cover;
}
.home-text23 {
  align-self: center;
}
.home-text24 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step03 {
  width: 217px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image04 {
  width: 200px;
  object-fit: cover;
}
.home-text27 {
  align-self: center;
}
.home-text28 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step04 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image05 {
  width: 200px;
  object-fit: cover;
}
.home-text31 {
  align-self: center;
}
.home-text32 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step05 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container05 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-container06 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-direction: column;
}
.home-steps1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-text33 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.home-text34 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-steps2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step06 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-step07 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image06 {
  width: 200px;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text35 {
  align-self: center;
}
.home-text36 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-container09 {
  width: 231px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-container10 {
  flex: 0 0 auto;
  width: 286px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image07 {
  width: 203px;
  object-fit: cover;
}
.home-text39 {
  align-self: center;
}
.home-text40 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  align-self: center;
  text-align: center;
}
.home-step08 {
  width: 218px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image08 {
  width: 200px;
  object-fit: cover;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text41 {
  align-self: center;
}
.home-text42 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image09 {
  width: 203px;
  object-fit: cover;
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text43 {
  align-self: center;
}
.home-text44 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.home-step10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-step11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-step12 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-header2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-separator2 {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-image10 {
  width: 300px;
  object-fit: cover;
}
.home-image11 {
  width: 300px;
  object-fit: cover;
}
.home-image12 {
  width: 300px;
  object-fit: cover;
}
.home-image13 {
  width: 300px;
  object-fit: cover;
}
.home-image14 {
  width: 300px;
  object-fit: cover;
}
.home-image15 {
  width: 300px;
  object-fit: cover;
}
.home-image16 {
  width: 300px;
  object-fit: cover;
}
.home-image17 {
  width: 300px;
  object-fit: cover;
}
.home-image18 {
  width: 300px;
  object-fit: cover;
}
.home-link1 {
  width: 284px;
  height: 39px;
  align-self: center;
  text-decoration: none;
  background-color: #ffd000;
}
.home-header3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-separator3 {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 991px) {
  .home-text {
    text-align: center;
  }
  .home-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text01 {
    text-align: center;
  }
  .home-text20 {
    align-self: center;
  }
  .home-text33 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .home-image10 {
    width: 271px;
  }
  .home-image11 {
    width: 266px;
  }
  .home-image12 {
    width: 269px;
  }
  .home-image13 {
    width: 264px;
  }
  .home-image14 {
    width: 267px;
  }
  .home-image15 {
    width: 259px;
  }
  .home-image16 {
    width: 266px;
  }
  .home-image17 {
    width: 255px;
  }
  .home-image18 {
    width: 262px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container03 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-step01 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text22 {
    text-align: left;
  }
  .home-step02 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text24 {
    text-align: left;
  }
  .home-step03 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text28 {
    text-align: left;
  }
  .home-step04 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text32 {
    text-align: left;
  }
  .home-step05 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container05 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-steps1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-steps2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container07 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step06 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-step07 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text36 {
    text-align: left;
  }
  .home-text40 {
    text-align: left;
  }
  .home-step08 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text42 {
    text-align: left;
  }
  .home-step09 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-text44 {
    text-align: left;
  }
  .home-step10 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-step11 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-step12 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container14 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-header2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-header3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-header1 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    padding-left: 0px;
  }
  .home-step03 {
    width: 416px;
    margin-right: 0px;
  }
  .home-text28 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    text-align: left;
  }
  .home-step04 {
    width: 413px;
    margin-right: 0px;
  }
  .home-image05 {
    width: 195px;
  }
  .home-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container07 {
    padding-left: 0px;
  }
  .home-container13 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-header2 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator2 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-header3 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator3 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
