<div>
  <link href="./steps.css" rel="stylesheet" />
  <div class="steps-steps">
    <div class="steps-container">
      <div class="steps-step">
        <div class="steps-step1">
          <img
            alt="image"
            src="public/playground_assets/screen%20shot%202022-10-20%20at%208.04.16%20pm-200w.png"
            class="steps-image"
          />
          <div class="steps-container1">
            <span class="steps-text"><span>1</span></span>
          </div>
          <span class="steps-text01">
            <span>Essuyez la surface d&apos;installation</span>
            <br />
          </span>
        </div>
        <div class="steps-step2"></div>
      </div>
      <div class="steps-container2">
        <div class="steps-step3">
          <img
            alt="image"
            src="public/playground_assets/screen%20shot%202022-10-20%20at%208.04.25%20pm-300w.png"
            class="steps-image1"
          />
          <span class="steps-text04"><span>2</span></span>
        </div>
        <span class="steps-text05">
          Appliquez du ruban adhésif double face au dos du support
        </span>
      </div>
      <div class="steps-step4">
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-10-20%20at%208.04.35%20pm-200w.png"
          class="steps-image2"
        />
        <div class="steps-container3">
          <span class="steps-text06"><span>3</span></span>
        </div>
        <span class="steps-text07">
          Retirez le film protecteur de l&apos;adhésif, installez-le sur la
          surface et appuyez fermement sur le support à balai
        </span>
      </div>
      <div class="steps-step5">
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-10-20%20at%208.04.45%20pm-300w.png"
          class="steps-image3"
        />
        <div class="steps-container4">
          <span class="steps-text08"><span>4</span></span>
        </div>
        <span class="steps-text09">Attendez 48h avant son utilisation</span>
      </div>
      <div class="steps-step6"><div class="steps-container5"></div></div>
      <div class="steps-step7"></div>
      <div class="steps-step8">
        <div class="steps-container6"><div class="steps-line"></div></div>
      </div>
    </div>
  </div>
</div>
