<div>
  <link href="./steps2.css" rel="stylesheet" />
  <div class="steps2-steps">
    <div class="steps2-container">
      <div class="steps2-step">
        <div class="steps2-step1">
          <img
            alt="image"
            src="public/playground_assets/screen%20shot%202022-10-20%20at%204.55.42%20pm-200w.png"
            class="steps2-image"
          />
          <div class="steps2-container1">
            <span class="steps2-text"><span>1</span></span>
          </div>
          <span class="steps2-text01">Choisissez l’endroit approprié</span>
        </div>
      </div>
      <div class="steps2-step2">
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-10-20%20at%207.17.14%20pm-200w.png"
          class="steps2-image1"
        />
        <span class="steps2-text02"><span>2</span></span>
        <span class="steps2-text03">
          <span>Percez un trou avec un foret de 6 mm</span>
          <br />
        </span>
      </div>
      <div class="steps2-step3">
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-10-20%20at%208.04.35%20pm-200w.png"
          class="steps2-image2"
        />
        <span class="steps2-text06"><span>3</span></span>
        <span class="steps2-text07">
          <span>Insérez les chevilles à expansion dans les trous</span>
          <br />
        </span>
        <div class="steps2-container2">
          <div class="steps2-container3">
            <span class="steps2-text10"></span>
          </div>
        </div>
      </div>
      <div class="steps2-step4">
        <img
          alt="image"
          src="public/playground_assets/screen%20shot%202022-10-20%20at%207.17.42%20pm-200w.png"
          class="steps2-image3"
        />
        <span class="steps2-text11"><span>4</span></span>
        <span class="steps2-text12">Placez et serrez les vis sur le mur</span>
        <div class="steps2-container4"></div>
      </div>
      <div class="steps2-step5"><div class="steps2-container5"></div></div>
    </div>
  </div>
</div>
